/* ------------------------ */
/* Fetching Font from google and local OTF File */
/* ------------------------ */

@font-face {
  font-family: abster;
  src: url(../Assets/Abster\ Font/abster-500.otf);
}
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600&display=swap");
:root {
  --body-Color: #0d0d0d;
  --primary-Color: #08f89f;
  --primary-Gradient: linear-gradient(to Left, #01a8a6, #027698, #029d92);
  --primary-font: "Rajdhani", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  --secondary-font: abster, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

/* ------------------------ */
/* Default Styling */
/* ------------------------ */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--primary-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-Color);
  font-size: 16px;
  color: white;
  word-wrap: break-word;
}
h1,
h2,
h3,
h4 {
  font-family: var(--secondary-font);
}
button,
input,
a {
  color: white;
  text-decoration: none;
  outline: none;
  border: none;
  background: none;
  font-family: var(--primary-font);
}

.border {
  border: 1px solid red;
}

/* --------------------------------------------------------------- */
/* ------------------  Header or Navbar Styling  ---------------------- */
/* ---------------------------------------------------------------- */
header {
  position: absolute;
  width: 100%;
  top: 0;
  padding: 0 80px;
  background: linear-gradient(#000000bd, #000000bd, #00000000);
  height: 120px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80%;
}
nav .brandInfo .logo img {
  width: 200px;
}
nav .nav-links ul {
  display: flex;
  text-transform: uppercase;
  list-style-type: none;
  font-size: 1.1rem;
}
.nav-links ul li {
  margin-left: 30px;
}
.nav-links ul li:nth-child(1) {
  margin-left: 0px;
}
.nav-links ul li a {
  font-weight: 600;
  text-decoration: none;
  color: white;
}
a.wallet {
  padding: 10px 2.5rem;
  border-radius: 50px;
  background: linear-gradient(to right, #01a8a6 40%, #027698);
}

/* --------------------------------------------------------------*/
/* --------------- Landing or First Section Styling -------------*/
/* --------------------------------------------------------------*/

.backgroundImageConatiner img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: 20%;
}
.landingPageMessage {
  padding: 0 5%;
  position: relative;
  margin-top: -2.5rem;
}
.gradientDiv {
  position: absolute;
  top: 0;
  width: 90%;
  height: 100%;
  background: var(--primary-Gradient);
  z-index: -1;
  opacity: 0.3;
  border-radius: 100px;
}
.messageParentDiv {
  position: relative;
  top: 0;
  opacity: 1;
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3rem;
  background-color: #0d0d0d3b;
}
.messageParentDiv > * {
  width: 50%;
}
.messageParentDiv > h2 {
  line-height: clamp(2rem, 5vw, 3.5rem);
  font-size: clamp(1.4rem, 3vw, 1.8rem);
  word-spacing: 5px;
  letter-spacing: 1px;
}
.messageParentDiv > h2 > span {
  color: var(--primary-Color);
}
.messageParentDiv > p {
  margin-top: 20px;
  font-size: 1.2rem;
}

/* --------------------------------------------------------------*/
/* --------------- ABOUT NFT OR Section 2 Styling  -------------*/
/* --------------------------------------------------------------*/
.container-fluid {
  margin-top: 80px;
  padding: 0 5%;
}
.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.container > div {
  flex: 1;
  min-width: 460px;
  margin-top: 50px;
}
.col-1 {
  position: relative;
  width: 100%;
  height: 100%;
}

.triangles_and_Robot_Image .img-1 {
  max-width: 420px;
  width: 70%;
  transform: translateX(10%);
}
.triangles_and_Robot_Image .img-2 {
  width: 20%;
  max-width: 120px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(30%) translateY(190%);
}
.triangles_and_Robot_Image .img-3 {
  transform: translateX(400%);
  width: 20%;
  max-width: 120px;
  position: absolute;
  top: 0;
  left: 0;
}
.triangles_and_Robot_Image .img-4 {
  max-width: 390px;
  width: 70%;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateX(40%);
}
/* --------- */
/* NFT TEXT CONTENT CSS */
/* ---------- */
.col-2 {
  padding: 0 1rem;
}
.col-2 .Intro-tageline {
  position: relative;
}
.col-2 .Intro-tageline h3 {
  font-family: var(--primary-font);
  color: var(--primary-Color);
  font-size: 1.5rem;
  margin-left: 10px;
}
.Intro-tageline span {
  width: 3px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--primary-Color);
}
.Intro-tageline span:nth-last-child(1) {
  height: 3px;
  width: 3vw;
  left: 13rem;
  top: 50%;
  transform: translateY(-50%);
}
.col-2 > h2 {
  margin-top: 20px;
  font-size: 2rem;
  text-transform: capitalize;
}
.col-2 > p {
  line-height: 1.8rem;
  margin-top: 18px;
  font-size: 1rem;
}
.readMorebutton {
  margin: 20px 0;
}
.readMorebutton a {
  display: block;
  width: 110px;
  height: 50px;
  position: relative;
  color: var(--primary-Color);
  text-transform: uppercase;
  font-size: 0.9rem;
}
 .readMorebutton a span:nth-child(1) {
  background-color: var(--body-Color);
  position: absolute;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  padding: 3px 0;
}

.readMorebutton a span:nth-last-child(2) {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 3px;
  background-color: var(--primary-Color);
}
.readMorebutton a span:nth-last-child(1) {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border: 2px solid var(--primary-Color);
  border-radius: 50%;
}

/* ------------------------------------------------------------------------ */
/* --------------------- NFT'S Sample or Our NFT's------------------------ */
/* ------------------------------------------------------------------------ */
.Nft-heading {
  margin: 20px 0;
  position: relative;
}
.Nft-heading h2 {
  letter-spacing: 5px;
  font-size: 2.8rem;
  color: var(--primary-Color);
  text-align: center;
}
.Nft-heading span {
  position: absolute;
  top: 50%;
  width: clamp(25px,5vw,50px);
  height: 3px;
  background-color: white;
}
.Nft-heading span:nth-child(1) {
  left: 50%;
  transform: translateX(85px);
}
.Nft-heading span:nth-last-child(1) {
  right: 50%;
  transform: translateX(-85px);
}
.NFT-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 650px;
  padding: 0 2%;
}
.col {
  padding: 6px;
  margin: 20px 0 0 50px;
  flex-basis: 250px;
}
.col:nth-child(1) {
  padding: 6px;
  margin: 20px 0 0 0px;
  flex-basis: 250px;
}
.col > div {
  /* height: 300px; */
  border-radius: 8px;
}

.NFT-image img{
  width: 100%;
}
.NFT-details{
  padding: 5px 10px;
  height:95px;
  overflow-y: hidden;
  position: relative;
  left: 0;
  margin-top: -20px;
  backdrop-filter: blur(5px);
  transition: 0.2s ease-in-out;
}
.NFT-details:hover{
  height:350px;

}
.NFT-details h3{
  font-family: var(--primary-font);
  text-align: center;
  color: var(--primary-Color);
}
.NFT-details p{
  text-align: center;
  margin-top: 13px;
  line-height: 1.5rem;
}
.NFT-details .Readbutton{
  margin: auto;
  margin-top: 10px;
  width: fit-content;
}

/* ------------------------------------------------------------------------ */
/* --------------------- ALL MEIDA QUERY GOES HERE ------------------------ */
/* ------------------------------------------------------------------------ */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  
  .NFT-details .Readbutton{
    margin-right: auto;
  }
  .messageParentDiv {
    padding: 1rem;
  }
  .Intro-tageline span:nth-last-child(1) {
    display: none;
  }
  .container > div {
    width: 100%;
    min-width: 100%;
  }
  .col {
    padding: 6px;
    margin: 20px 0;
  }
 
  .Nft-heading span:nth-child(1) {
    top: 110%;
    left: 50%;
    transform: translateX(40px);
  }
  .Nft-heading span:nth-last-child(1) {
    top: -10%;
    right: 50%;
    transform: translateX(-40px);
  }
  .NFT-details:hover{
    height: 400px;
    overflow-y: auto;
  
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .messageParentDiv > *,
  .container > div {
    min-width: 100%;
  }
  .NFT-container {
    padding: 0px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .NFT-container {
    padding: 0px;
  }
}

@media (max-width: 1038px) and (min-width: 769px) {
  .triangles_and_Robot_Image .img-1 {
    transform: translateX(30%);
  }
  .triangles_and_Robot_Image .img-2 {
    transform: translateX(100%) translateY(190%);
  }
  .triangles_and_Robot_Image .img-3 {
    transform: translateX(470%);
  }
  .triangles_and_Robot_Image .img-4 {
    left: 15%;
  }
}
/* // Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
  .NFT-container {
    padding: 0px;
  }
  .col {
    padding: 6px;
  }
}
